


.info-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: space-around;
}

.collect-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.expense-container {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.expense-list {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}





/* Analytic */
.chart-form {
    width: 500px;
}