
.btn {
    background-color: green;
}
.btn:hover {
    background-color: rgba(255, 149, 0, 0.733);
}
.form-control {
    width: 200px;
}

/* Menu container */
.menu-container{
    margin: 20px 0;
} 

/* Info container */
.info-container {
    margin: 100px 0;
}
.info-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: space-around;
}

.collect-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.expense-container {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.expense-list {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}





/* Analytic */
.chart-form {
    margin: auto;
    width: 500px;
}