
.btn {
    background-color: green;
    border-style: none;
}
.btn:hover {
    background-color: black;
}
.form-control {
    width: 200px;
}

/* Menu container */
.menu-container{
    margin: 20px 0;
} 

/* Info container */
.info-container {
    margin: 100px 0;
}
.info-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
   
}

.budget-info {
    width: 200px;
    background-color: black;
    border-radius: 20px;
}

.expenses-info {
    width: 200px;
    background-color: black;
    border-radius: 20px;
}

.balance-info {
    width: 200px;
    background-color: black;
    border-radius: 20px;
}

.budget-form {
    width: 400px;
    background-color: tomato;
    border-radius: 20px;
    padding: 50px 30px 30px 30px;
}
.budget-form .budget-submit {
    margin-top: 10px;
}
.expense-form {
    width: 400px;
    background-color: tomato;
    border-radius: 20px;
    padding: 30px;
}

.expense-form .Expenses-sum {
    padding-top: 20px;
}
.expense-form .expense-submit {
    margin-top: 10px;
}
.form-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}



.collect-form{
    display: flex;
    justify-content: space-around;
    margin: 60px 20px;
}

.collected-info, .collect-general-amount {
    text-align: center;
    font-weight: 700;
    width: 150px;
    background-color: tomato;
    padding: 10px;
    border-radius: 20px;
}
.dash {
    font-size: 20px;
}
.collect-info {
    width: 250px;
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.collect-info-title {
    display: flex;
    width: 500px;
    background-color: tomato;
    border-radius: 20px;
    padding: 30px 30px;
    gap: 20px;
}

.collect-form-input {
    width: 400px;
    background-color: tomato;
    border-radius: 20px;
    padding: 30px 30px;
}

.collect-amount-form {
    width: 400px;
    background-color: tomato;
    border-radius: 20px;
    padding: 30px 30px;
}

.expense-container {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.expense-list {
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}





/* Analytic */
.chart-form {
    margin: auto;
    width: 500px;
}


/* Footer */
.site-footer{
    background-color: black;
    margin-top: 100px;
}
.footer-container {
    max-width: 1200px;
    text-align: center;
    margin-top: 100px;
    margin: auto;
    padding: 50px 0;
}