ul {
    display: flex;
	justify-content: space-around;
	text-align: center;
    text-decoration: none;
}
a {   
        color: #8f8f8f;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 20px;
}
a:hover{
    background-color: #e25707;
    padding: 5px;
    border-radius: 20px;
}

* {
    scroll-behavior: smooth;
    list-style-type: none;
    /* border: 1px solid green; */
}
body {
    background-color: #43506C;
    color: #e9e9eb;
}
main {
    max-width: 1200px;
    margin: auto;
}
header {
    max-width: 1200px;
    margin: auto;
}

.container{
    max-width: 1200px;
}
.showGreen{
    color: green;
}
.showRed{
    color:red;
}