ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:static;

}
a {
    text-decoration: none;
    padding: 0 10px;
}

* {
    scroll-behavior: smooth;
    /* border: 1px solid green; */
}
body {
    background-color: #43506C;
    color: #e9e9eb;
}
